.center{
    position: absolute;
    width: 90%;
    top:20%;
    left: 15px;
    text-align: center;
   align-items: center;
   height: 100%;
  }
  h1{
    font-style: oblique;
  }
  .wel-pos{
    top: 25%;
    text-align: center;
    left: 16px;
  }
  .btn-pos{
    bottom: 25%;
    align-items: center;
  }
  .log-size{
   width: 110px;
   
  }
  center img{
    width: 110px;
  }