<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="center" padding text-center>
    <img src="assets/images/mobileLogo.png" alt="">
   
  <div class="wel-pos"><h1>WELCOME</h1>
  <p>Advance Software Development<br/><span>(Developing Mobile applications)</span> </p>
  <br/>
  </div>
 
  <div class="btn-pos">

 <ion-button expand="block" fill="solid" size="medium" (click)="navigateWelcome()">Login</ion-button>
 
   <ion-button expand="block" fill="outline" size="medium" (click)="navigateWelcome()">Sign Up</ion-button>
  </div>

</div>
<router-outlet></router-outlet>

</ion-content>