<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <h1>LOGIN</h1>
  <br/>
  
  <div style="text-align: center;">
   <img src="assets/images/mobileLogo.png" alt="">
  </div>
  <br/>
  <form action="" method="post" onsubmit="return login()">
   <div>
     <ion-list>
        <ion-item><ion-icon name="person"></ion-icon>
          <ion-input type="text"  placeholder="email" id="email"  required="required"></ion-input>
        </ion-item>

        <ion-item><ion-icon name="lock-closed"></ion-icon>
           <ion-input type="password" placeholder="Password" id="password"  required="required"></ion-input>
        </ion-item>
     </ion-list>
   </div>
   <span><a href="reset" style="text-align:center;"  (click)="move()" size="full">forgot Email/password</a></span>
          
   <ion-button expand="block" (click) = "login(email,pass)">login</ion-button>

    <span><a href="signin" style="text-align:center;color: orange;font-weight: bolder;"  (click)="move()" size="full">NEW?... CLICK HERE TO CREATE ACOUNT</a></span>
  
  </form>
</ion-content>