.center{
    position: absolute;
    left: 5%;
    top:10%;
    width:90%;
}
h1{
    text-align: center;
}
img{
    width: 110px;
    left:20%;
    text-align: center;
  }
  a{
      text-align: right;
      right: 40%;
      text-decoration: none;
      color: darkgrey;
  }